


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/public/chat.css" >

<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <%-include('nav.html'); %>
    <%-include('header.html'); %>

    <div class="container p-4 detail">
        <input type="hidden" id="user_id" value="<%= user_id%>">
        <div class="row">

          <%-include('chatLeftMenu.ejs'); %>
           <div class="col-9 p-0">
             <div class="chat-room">
                <ul class="list-group chat-content" >
                  <% for(let i=0; i < message.length; i++){ %>
                    <li>
                      <% if(message[i].id == user_id) {%> 
                        <span class="chat-box mine"><%= message[i].message  %></span>
                      <%}else{%>
                        <span class="chat-box"><%= message[i].message  %></span>
                      <%}%>
                    </li>
                  <%}%>

                </ul>
              <div class="input-group">
                <input class="form-control" id="chat-input">
                <button class="btn btn-secondary" id="send" data-id="<%= chatroomid  %>">전송</button>
              </div>
            </div>
          </div>
        </div>
      
      </div> 
    
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  </body>
  
  <script>
      $('#send').on('click',(e)=>{

        var no = e.target.dataset.id;
        var message = document.getElementById('chat-input').value
        $.ajax({
            url: '/chat/'+no,
            method:'post',
            data: {
              _id: no,
              "message": message
            },

        }).done(function(result){

          obj.parent('li').fadeOut();
        }).fail(function(xhr,TextStatus,errThrown){

        });


      });

      $('.list-group-item').click(function (e) {
        const boardid = this.dataset.id;
        const eventSource = new EventSource('/chat/message/' + boardid);

        const get_message = (result) => {
          return  JSON.parse(result.data).reduce((acc, value) => {

            const user_id = $('#user_id').val();
            const tmp_html = (value.id == user_id) ? "mine" : "";

            return acc + '<li><span class="chat-box ' + tmp_html + '">' + value.message + '</span></li>'

          }, "")
        }

        eventSource.addEventListener("message", function (result) {

          html = get_message(result);

          $('.chat-content').html(html);
        });
        eventSource.addEventListener("newMessage", function (result) {

          html = get_message(result);

          $('.chat-content').append(html);
        });
      });
  </script>
</html>
